$blue: #2186F3;
$blue2: #0b7dda;
$purple: #6f42c1;
$pink: #ee41c3;
$pink2: #e93bbd;
$red: #f82233;
$red1: #f44336;
$red2: #da190b;
$yellow1: #ebc20d;//ffd000
$yellow:#ffc60a;//#fdc200;
$orange1: #ffa126;
$orange: #fc8a1f;
$green: #3faa45;
$green2: #46a049;
$gray: #888888;
$white: #fafafa;
$black: #202020;
$transp: transparent;